name: build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: docker login
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        username: davidsiaw
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: docker push
      uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
      with:
        context: .
        file: ./docker/unit/Dockerfile
        push: true
        tags: davidsiaw/alesap-server:latest
        labels: ${{ steps.meta.outputs.labels }}
